
@font-face {font-family: 'GothamBook';src: url('../bin/fonts/gotham-book.otf');src: url('../bin/fonts/gotham-book.otf?#iefix') format('embedded-opentype'),url('../bin/fonts/gotham-book.woff') format('woff'),url('../bin/fonts/gotham-book.ttf') format('truetype');}

@font-face {font-family: 'GothamMedium';src: url('../bin/fonts/gotham-medium.otf');src: url('../bin/fonts/gotham-medium.otf?#iefix') format('embedded-opentype'),url('../bin/fonts/gotham-medium.woff') format('woff'),url('../bin/fonts/gotham-medium.ttf') format('truetype');}

@font-face {font-family: 'GothamBlack';src: url('../bin/fonts/gotham-black.otf');src: url('../bin/fonts/gotham-black.otf?#iefix') format('embedded-opentype'),url('../bin/fonts/gotham-black.woff') format('woff'),url('../bin/fonts/gotham-black.ttf') format('truetype');}
