.static.modal {
    display: none;
    z-index: 3000;
}



.howItWorksModalContent {
    min-width: 888px;
    margin-top: 30px;
    min-height: 400px;
    padding: 75px 100px 0 60px;
    background: transparent url(../img/bg-how-modal.png) no-repeat 0 0;
    color: $white;
    h2 { padding-bottom: 17px; }
    li { font-size: 1.6rem; font-weight: 700; }
    p, ul { padding-bottom:  20px; }
    ul { list-style: disc inside; }
    .butnEntry { padding: 24px 0 24px; margin-top: -7px; }
    .overlay-close{
        position: absolute;
        margin-left: 949px;
        text-align: center;
        top: 81px;
    }
}
.termsAndConditionsModalContent {
    margin-top: 30px;
    max-width: 800px;
    height: 680px;
    padding: 75px 100px 0 60px;
    background: transparent url(../img/bg-big-modal.png) no-repeat 0 0;
    color: $white;
    .overlay-close{
        position: absolute;
        margin-left: 863px;
        text-align: center;
        top: 72px;
    } 
    h4 { 
        padding-bottom: 40px;
        font: normal 700 1.8rem 'GothamMedium', sans-serif; 
        color:$white; 
        text-align: center;
    }
    ol { 
        list-style: decimal inside; 
        li {
            padding-bottom: 20px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2rem;
            span.listHead { padding-left: 40px; display: inline-block; font-weight: 900; }
            ol { margin-left: 40px; }
            ol.alpha { list-style: lower-alpha inside !important; }
        }
    }
}

.promptModalContent {
    margin-top: 30px;
    max-width: 950px;
    height: 680px;
    padding: 75px 100px 0 60px;
    background: transparent url(../img/bg-initial-modal.png) no-repeat 0 0;
    color: $white;    
    p { width: 500px; }
    form { 
        input { margin: 0 0 40px; }
    }
}

.dynamicNotifications { 
    min-width: 888px;
    margin-top: 30px;
    min-height: 400px;
    padding: 75px 100px 0 60px;
    background: transparent url(../img/bg-signin-modal.png) no-repeat 0 0;
    color: $white;
    h2 { padding-bottom: 17px; }
    li { font-size: 1.6rem; font-weight: 700; }
    p, ul { padding-bottom:  20px; }
    ul { list-style: disc inside; }
    .butnEntry { padding: 24px 0 24px; margin-top: -7px; }
    .overlay-close{
        position: absolute;
        margin-left: 949px;
        text-align: center;
        top: 81px;
    }
}

.passwordModalContent { 
    min-width: 888px;
    margin-top: 30px;
    min-height: 400px;
    padding: 75px 100px 0 60px;
    background: transparent url(../img/bg-signin-modal.png) no-repeat 0 0;
    color: $white;
    h2 { padding-bottom: 17px; }
    li { font-size: 1.6rem; font-weight: 700; }
    p, ul { padding-bottom:  20px; }
    ul { list-style: disc inside; }
    .butnEntry { padding: 24px 0 24px; margin-top: -7px; }
    .overlay-close{
        position: absolute;
        margin-left: 949px;
        text-align: center;
        top: 81px;
    }
}


// form.signIn {
//     padding: 57px;
//     background: transparent url(../img/bg-signin-modal.png) no-repeat 0 0;
// }

.closeForm {
    width: 70px; 
    height: 70px; 
    position: absolute; 
    display: block; 
    background: transparent url(../img/close.png) no-repeat 0 0; 
    z-index: 3010;
}

.overlay-close {
    width: 70px; 
    height: 70px; 
    position: absolute; 
    display: block; 
    background: transparent url(../img/close.png) no-repeat 0 0; 
    z-index: 3010;
}

form.register { 
    max-width: 880px; 
    position: absolute;
    background: transparent url(../img/bg-big-modal.png) no-repeat 0 0;
    z-index: 10000;
    margin-left: 3%;
    .overlay-close {
        width: 70px;
        height: 70px;
        position: absolute;
        margin-left: 926px;
        text-align: center;
        top: -22px;  
    }
}

.form-signIn {   margin-left: 16%; }

.overlay {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 110%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms linear, bottom 0s linear 200ms;
}
.overlay-open {
  bottom: 0;
  opacity: 1;
  transition: opacity 200ms linear, bottom 0s linear;
}
.overlay-view {
  overflow: hidden;
}
.overlay-form .overlay-inner {
  margin: 5rem auto;
  padding: 4rem;
  max-width: 700px;
}

.overlay-inner {
  max-width: 1024px;;
  margin: 5rem;
  padding: 2rem;
}

.dynamicNotifications {   }

@media screen and (min-width: 52rem) {
  .overlay-inner {
    margin-left: auto;
    margin-right: auto;
  }
}

